<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>Make your choice:</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="onPlayerMode(PlayerMode.Wolf)">Play Wolf</button>
    <button mat-raised-button (click)="onPlayerMode(PlayerMode.PlaySheep)">Play Sheep</button>
    <button mat-raised-button (click)="onPlayerMode(PlayerMode.TwoPlayers)">2 Players</button>
    <button mat-raised-button (click)="onPlayAuto()">Auto Play</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>