.canvas-back {
    z-index: 1;
    background-size: contain;
    border: 1px solid black;

    //Note: canvas drawing surface (600x600) is and can only set in HTML.
    width: 100%;
}

.canvas-game {
    z-index: 2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-size: contain;

    //Note: canvas drawing surface (600x600) is and can only set in HTML.
    width: 100%;
}

.busy-box{
    z-index: 3;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    border: 8px solid rgb(190, 93, 182);
    background-color: transparent;
}