.can-board {
    border: 1px solid black;
    background-size: contain;

    //Note: canvas drawing surface (600x600) is and can only set in HTML.
    width: 100%;
}

.board > .spinner {
    position: absolute;
    top: 30%;
    left: 30%;
}
