
.can-board {
    //border: 1px solid black;
    background-size: contain;
    background-color: red;

    //Note: canvas drawing surface (600x600) is and can only set in HTML.
    width: 100%;
}