<div class="page">

    <div class="header">
        <h3>Game of Wolf and Sheep</h3>
        <span>See project on: <a href="https://github.com/gillesveyet/ngWolfvsSheep/">https://github.com/gillesveyet/ngWolfvsSheep</a></span>
    </div>

    <div class="content">

        <div class="menu">
            <div *ngIf="showMenuPlay">
                <button (click)="onPlaySheep()">Play Sheep vs CPU</button>
                <button (click)="onPlayWolf()">Play Wolf vs CPU</button>
                <button (click)="onPlayTwoPlayers()">2 Players</button>
                <button (click)="onPlayAuto()">Auto Play</button>
            </div>

            <button *ngIf="autoplay && !autoPlayPaused" (click)="onAutoplayPause()">Pause Auto Play</button>
            <button *ngIf="autoplay && autoPlayPaused" [disabled]="isGameOver" (click)="onAutoplayResume()">Resume Auto Play</button>

            <button *ngIf="showMenuGame" [disabled]="!isGameBackEnabled" (click)="onGameBack()">Move Back</button>
            <button *ngIf="showMenuGame" (click)="onGameNew()">New Game</button>
        </div>

        <div class="settings">
            <div class="setting">
                <label>Wolf depth</label>
                <input type="number" [(ngModel)]="settings.wolfDepth">
            </div>

            <div class="setting">
                <label>Sheep depth</label>
                <input type="number" [(ngModel)]="settings.sheepDepth">
            </div>

            <button (click)="onBenchmark()">Benchmark</button>
        </div>

        <div class="board">
            <canvas #canBoard class="can-board" width="600" height="600"> </canvas>
        </div>

        <div class="status">
            <span>{{status}}</span>
        </div>

        <div class="debug">
            <span>{{debug}}</span>
        </div>

    </div>
</div>

<router-outlet></router-outlet>