<div class="page">

    <div class="header">
        <h3>Game of Wolf and Sheep</h3>
        <span>See project on: <a href="https://github.com/gillesveyet/ngWolfvsSheep/">https://github.com/gillesveyet/ngWolfvsSheep</a></span>
    </div>

    <div class="content">

        <!-- <div class="menu">
            <div id="menu_play">
                <button id="play_sheep">Play Sheep vs CPU</button>
                <button id="play_wolf">Play Wolf vs CPU</button>
                <button id="play_2_players">2 Players</button>
                <button id="autoplay">Auto Play</button>
            </div>

            <div id="menu_autoplay">
                <button id="autoplay_stop">Pause Auto Play</button>
                <button id="autoplay_resume">Resume Auto Play</button>
            </div>

            <div id="menu_game">
                <button id="game_back">Move Back</button>
                <button id="game_new">New Game</button>
            </div>
        </div>


        <div class="settings">

            <div class="form-item">
                <label>Wolf depth</label>
                <input type="number" [(ngModel)]="settings.wolfDepth">
            </div>

            <div class="form-item">
                <label>Sheep depth</label>
                <input type="number" [(ngModel)]="settings.sheepDepth">
            </div>

            <div>
                <button (click)="onBenchmark()">Benchmark</button>
            </div>
        </div> -->


        <div class="board">
            <canvas #canBoard class="can-board" width="600" height="600"> </canvas>
        </div>

        <div class="status">
            <span>{{status}}</span>
        </div>
        <div class="debug">
            <span>{{debug}}</span>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
