$font: Roboto, "Helvetica Neue", sans-serif;

// css rules added by ng add @angular/material
// See "Height transfer" explanation: http://book.mixu.net/css/5-tricks.html
// html,
// body {
//     height: 100%;
// }

// body {
//     margin: 0;
//     font-family: $font;
// }

.loader {
    position: fixed;
    width: 200px;
    height: 200px;
    margin: 5% auto;
    left: 0;
    right: 0;
}

.loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff4081;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    z-index: 1;

    .mat-toolbar-row {
        justify-content: space-evenly;
    }
}

// .footer {
//     a {
//         text-decoration: none;
//     }
//     a:hover {
//         text-decoration: underline;
//     }
// }

.content,
.menu,
.setting,
.status {
    font-family: $font;
}

.content {
    background-color: lightskyblue;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.setting {
    > label {
        padding-right: 8px;
        text-align: right;
    }

    input {
        max-width: 40px;
        text-align: right;
    }
}

.menu {
    background-color: azure;
    display: flex;
    flex-direction: row;

    button {
        margin: 5px;
    }
}

.settings {
    display: flex;
    flex-direction: row;

    > .setting {
        padding-left: 25px;
    }

    > button {
        margin-left: 25px;
    }
}

.board {
    background-color: lightpink;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 5px;
    max-width: 600px;
    position: relative;
}

.status {
    background-color: lightgreen;
    margin-left: 5px;
}
