$font: Roboto, "Helvetica Neue", sans-serif;

// css rules added by ng add @angular/material
// See "Height transfer" explanation: http://book.mixu.net/css/5-tricks.html
// html,
// body {
//     height: 100%;
// }

// body {
//     margin: 0;
//     font-family: $font;
// }

.page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .header {
        margin-bottom: 15px;
        margin-left: 50px;
    }
}

.header {
    width: 100%;
    z-index: 1;
    font: 15px $font;

    h3 {
        margin-bottom: 8px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.content,
.menu,
.setting,
.status {
    font-family: $font;
}

.content {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.setting {
    > label {
        padding-right: 8px;
        text-align: right;
    }

    input {
        max-width: 40px;
        text-align: right;
    }
}

.menu {
    //background-color: azure;
    display: flex;
    flex-direction: row;

    button {
        margin: 5px;
    }
}

.settings {
    //background-color: lightskyblue;
    display: flex;
    flex-direction: row;

    > .setting {
        padding-left: 25px;
    }

    > button {
        margin-left: 25px;
    }
}

.board {
    flex: 0 1;
    margin: 10px;
    max-width: 600px;
    position: relative;
}

.status {
    //background-color: lightgreen;
    margin-left: 10px;
}
